* {
  margin: 0;
  padding: 0;
}

.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .heading {flex-direction: column;}
}

/* ----MAIN PAGE---- */
.heading {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  height: 100vh;
}

.heading .body-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  padding-right: 10px;
}

.heading h2 {
  font-size: 60px;
  padding-bottom: 10px;
}

.heading h3 {
  font-size: 40px;
  padding-bottom: 30px;
}

.heading p {
  padding-top: 10px;
  font-size: 32px;
}

.heading img {
  width: 55%;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 9%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
}

.container {
  position: relative;
  box-shadow: 10px 5px 10px 5px #000000;
}

.boxes .container .linked-box .overlay-text {
  width: 350px;
  height: 300px;
  position: absolute;
  text-align: center;
  align-content: center;
  bottom: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px 0px 25px 0px;
}

.boxes p {
  padding-bottom: 5px;
  font-size: 20px;
}

.boxes img {
  height: 350px;
  width: 350px;
  display: block;
}

.zoom {
  transition: transform .15s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* ----MASTERDOC PAGE---- */

 /* The sidebar menu */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #b3b3b3;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.list-content {
  margin-left: 230px;
  padding: 0px 10px;
}

.expansion {
  margin-top: 25px;
}

.expansion h1 {
  font-size: 45px;
  border-bottom-style: solid;
  border-width: 1.5px;
  padding-left: 20px;
  width: 70%;
  color: rgb(255, 255, 255);
}
.img-inf {
  margin: auto;
  display: flex;
  flex-direction: row;
  background: rgba(19, 16, 31, 0.8);;
  border: solid;
  border-color: gray;
  border-radius: 13px;
  border-width: 1px;
  padding: 15px;
  width:70%;
  margin: 30px 20px 20px 40px;
}

.cl-img {
  height: 150px;
  width: 150px;
  display: block;
  object-fit: contain;
  color: white;
}

.cl-inf {
  margin-left: 20px;
  color: rgb(210, 210, 210);
}

.cl-inf h2{
  font-size: 32px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.cl-inf h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.cl-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: 10px;
  column-gap: 10px;
}

.cl-type {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  column-gap: 10px;
}

.zoom-big {
  transition: transform .15s; /* Animation */
}

.zoom-big:hover {
  transform: scale(2.3);
}

/* ----CRAB OF THE DAY---- */

.cotd-nav {
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  color: white;
  font-size: 20px;
}

.cotd-box h1 {
  font-size: 55px;
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.cotd-content{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  color:white;
  padding: 10px 25% 15px 25%;
}

.cotd-content img {
  height: 400px;
  display: block;
  object-fit: contain;
}

.cotd-content h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 15px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  justify-content: center;
  text-align: center;
}
.cotd-info {
  display:flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin: 10px;
  font-size: 25px;
}

.cotd-all {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(19, 16, 31, 0.8);
  border:solid;
  border-radius: 20px;
}

/* ----INTERACTIVE MAP---- */

.im-title {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
}

#map {
  height: 650px;
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 15%;
  left:10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 20px;
  padding: 18px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content h4 {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 